In [1]:
from Dtypes import *

Проверяем инициализацию NNumber

In [2]:
nnum1 = NNumber('123') # можно задать строкой
nnum2 = NNumber([4,5,6]) # можно задать списком
print(nnum1,nnum2)
print(nnum1.get_num(),nnum2.get_num()) # внутри представление обратное
print(nnum1.get_rank(),nnum2.get_rank()) # 123 = 1 * 10^2 + 2*10^1 + 3 * 10^0, ранг = 2

123 456
[3, 2, 1] [6, 5, 4]
2 2

In [3]:
nnum1= NNumber('0'*100+'1')
print(nnum1)
try:
    nnum1=NNumber('-1')
except:
    print('- не может быть использовано в запиши NNumber')


try:
    NNumber(float(123.123))
except:
    print('<class \'float\'> не может быть преобразован в NNumbers')

1
- не может быть использовано в запиши NNumber
<class 'float'> не может быть преобразован в NNumbers

Проверяем Integer

In [4]:
inum1 = Integer('-123') # можно задать строкой
inum2 = Integer([4,5,6,7], True) # можно задать списком с указанием знаком
print(inum1,inum2)
print(inum1.get_num(),inum2.get_num()) # внутри представление обратное
print(inum1.get_rank(),inum2.get_rank()) # ранг также, как у NNumbers
print(inum1.get_sign(),inum2.get_sign()) # знак

-123 -4567
[3, 2, 1] [7, 6, 5, 4]
2 3
True True

In [5]:
inum1= Integer('0'*100+'1')
print(inum1)
try:
    inum1=NNumber('biba')
except:
    print('b не может быть использовано в запиши NNumber')


try:
    Integer(float(123.123))
except:
    print('<class \'float\'> не может быть преобразован в Integer')

1
b не может быть использовано в запиши NNumber
<class 'float'> не может быть преобразован в Integer

Проверяем RNumber

In [6]:
rnum1 = RNumber(Integer('-12'),NNumber('987')) # задаётся парой Integer,NNumber
rnum2 = RNumber(inum1,nnum2) # Задать существующими объектами
rnum3 = RNumber('-224/123') # Задать строкой ! (числитель/знаменатель сплитится по '/')
print(rnum1,rnum2,rnum3)
print(type(rnum1.get_num()),rnum3.get_num()) # Можно получить числитель (Объек типа Ingeter со всеми вытекающими функциями!)
print(type(rnum1.get_den()), rnum3.get_den()) # Знаменатель, тоже объект
print(rnum1.get_sign(),rnum2.get_sign(),rnum3.get_sign()) # знак числителя
print(rnum3) # Удобный вывод для проверки

-12/987 1/456 -224/123
<class 'Dtypes.Integer'> -224
<class 'Dtypes.NNumber'> 123
True False True
-224/123

In [7]:
try:
    print(RNumber('-01233333333333/0').get_den())
except ZeroDivisionError:
    print('Знаменатель отрицательный!')

Знаменатель отрицательный!

In [8]:
# также можно задать число без числителя
# в таком случае знаменатель по стандарту является единицей 
rnum1 = RNumber(Integer('-12'))
rnum2 = RNumber(inum1) 
rnum3 = RNumber('-224') 
print(rnum1,rnum2,rnum3)
print(rnum1,' / ', rnum1.get_den()) # Можно получить числитель (Объек типа Ingeter со всеми вытекающими функциями!)

-12 1 -224
-12  /  1

Проверяем ошибки

In [10]:
pol1 = Polynomial('123/3 13/3 -12333/3')

In [11]:
print(pol1)

(123/3)x^2(13/3)x^1 - (12333/3)